<!-- 
  
    <form>
      <h4 class=" text-center pt-5" style="color: whitesmoke;"> Register </h4>
  
      <label>
        <input type="text" class="input" name="email" placeholder="ENTER EMAIL"/>
          <div class="line-box">
            <div class="line"></div>
          </div>
      </label>
  
      <label>
          <input type="text" class="input" name="username" placeholder="ENTER USERNAME"/>
          <div class="line-box">
            <div class="line"></div>
          </div>
      </label>
  
      <label>
          <input type="password" class="input" name="password" placeholder="ENTER PASSWORD"/>
          <div class="line-box">
            <div class="line"></div>
          </div>
      </label>
  
      <label>
        <input type="password" class="input" name="confirm" placeholder="CONFIRM PASSWORD"/>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
  
      <button type="submit" class="btn btn-primary" (click)= "regbtn()">submit</button>
    </form> -->


    <div class="col">
      <div class="card">
         <form>
            <h2 class="title"> Sign-Up</h2>
            <!-- <p class="subtitle">Don't have an account? <a href="#"> sign Up</a></p> 
            <p class="or"><span>or</span></p> -->
      
            <div class="sign-up">
               <label for="email"> <b>Name</b></label>
               <input type="text" placeholder="Enter Name" name="name" required>
               <label for="email"><b>Email</b></label>
               <input type="email" placeholder="Enter email" name="email" required>
               <label for="psw"><b>Password</b></label>
               <input type="password" placeholder="Enter Password" name="psw" required>
               
            </div>
            <button class="cta-btn">Sign In</button>
            <!-- <a class="forget-pass" href="#">Forgot password?</a> -->
         </form>
      </div>
     
      </div>
  
   