 <div class="container-fluid">
 <div class="row">
  <div class="col-md-12">
     <div class="text-center">

      <!-- <h4 id="heading">Bluescope</h4> -->
      <img style="cursor: pointer;" src="../assets/logo.png">
      <div class="container">
      <div class="head" style="float: left;">
      <h2 style="margin-left: 10px;text-transform: uppercase;font-family: 'FontAwesome';" href="">Bluescope Technology</h2>
      </div>
      
      <div class="circles"   routerLink='card' style="float: right; margin: 30px;">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        
      </div>
     
      
      </div>

      
      
      
     </div>
     
  </div>
</div>
</div>
<router-outlet></router-outlet> 
<!-- <router-outlet></router-outlet> -->

<!-- <div class="base">
  
    <app-base></app-base>
  </div>
  <div class="col-md-10"  style="height: 400px;">
 
    <router-outlet></router-outlet>  
  </div>  -->
  <!-- <app-app-view></app-app-view> -->
  
  
   <!-- <app-calender></app-calender>  -->
   



  

 
