<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" router link>BLUESCOPE TECHNOLOGIES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-lg btn-light" routerLink="login"> Login </a>
        <a class="nav-link " routerLink="reg">Register</a>
        <a class="nav-link " routerLink="table">Table</a>
        
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>



<section id="home">

    <div id="home-cover" class="bg-parallax animated fadeIn">
  
        <div id="home-content-box">
  
            <div id="home-content-box-inner">
  
                <div id="home-heading" class="animated zoomIn ">
  
                    <h3> watch out <br>
                        The modern responsive website!</h3>
                </div>
  
                <div id="home-btn" class="animated zoomIn">
  
                    <a class=" btn btn-default btn-general btn-white smooth-scroll" routerLink="login" title="view our work" role="button"> LOGIN</a>
  
  
                </div>
            </div>
        </div>
    </div>
  </section> -->
