h1{
    
    font-size: 120px;
    margin: 20px;
    padding: 20px;
    color:whitesmoke;
}

h2{
font-size: 2rem;
margin-left: 213px;
margin-top: 10px;
padding: 10px;
}

.Login-form{
margin: 10px;
}

#reg-form{
    word-wrap: normal;
}


/* base-component  */

h4{
    height: 96px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 30px;
    
}

.base{
    margin-left: 341px;
    margin-top: 10px;
}






/* #reg-form{
margin: 10px;
padding: 10px;
} */