/* You can add global styles to this file, and also import other style files */
/* body{
    margin-top: 125px;
    background-color: black;
} */

/* reactive-form */

body{
    background: linear-gradient(to top,#0e5836b8,#2c3e50); 
    
}