<div class="card">
    <div class="container">
        
      <h1><b>LOGIN</b></h1>
      <hr>
      
    <form class="app-box" #userForm="ngForm" (ngSubmit)="login(userForm)"  >
        
            <div class="form-group">
            
        <label for="name">Email</label>
        <input type="email"  class="form-control ng-ununtouched" minlength="2"  #email="ngModel" placeholder="Enter your name"  name="email" [(ngModel)]="model.email" required   >
        <div *ngIf="email.errors?.required && email.untouched " class="alert alert-danger"> <li>Field is required</li></div>
   
        </div>
        
        <div class="form-group">
        
            <label for="password">password</label>
            <input type="password" minlength="3" maxlength="7" placeholder="Enter the password"  class="form-control" #password="ngModel" name="password" [(ngModel)]="model.password" required>
            <div *ngIf="password.errors?.required && password.untouched " class="alert alert-danger"> <li>Field is required</li></div>
            <div *ngIf="password?.errors?.minlength" class="alert alert-danger"> <li>password must contain 7 digit number only</li></div>
            
            </div>
    
            
            
    
            <button type="submit" [disabled]="!userForm.valid"  class="btn btn-success" >Login</button>
        
    
    
        
    </form>
    </div>
    </div>
    
    
