
  
    <form>
      <h4 class=" text-center pt-5" style="color: whitesmoke;">Registration Form </h4>
  
      <label>
        <input type="text" class="input" name="email" placeholder="ENTER EMAIL"/>
          <div class="line-box">
            <div class="line"></div>
          </div>
      </label>
  
      <label>
          <input type="text" class="input" name="username" placeholder="ENTER USERNAME"/>
          <div class="line-box">
            <div class="line"></div>
          </div>
      </label>
  
      <label>
          <input type="password" class="input" name="password" placeholder="ENTER PASSWORD"/>
          <div class="line-box">
            <div class="line"></div>
          </div>
      </label>
  
      <label>
        <input type="password" class="input" name="confirm" placeholder="CONFIRM PASSWORD"/>
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
  
      <button type="submit" class="btn btn-primary" (click)= "regbtn()">submit</button>
    </form>
  
   