<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -9px;">
    <a class="navbar-brand" id="navbar" style="text-transform:uppercase;color: rgb(163, 113, 113);margin-left: 45px;font-weight: 500;" > {{jsondata.name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" *ngFor="let menu of jsonmenuGroup">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{menu.name}} <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
     
    </div>
  </nav>

  <p style="text-align: center;text-transform: uppercase;font-size: large;font-weight: 500;font-family: emoji;margin-top: 30px;">{{jsondata.title}}</p>



  